body {
    font-family: Helvetica, sans-serif;
    color: #484848;
    line-height: 1.3em;
  }
.button {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 5px 5px 0;
  }
a:link {
    color: #484848;
    text-decoration: none;
  }
a:visited {
    color: #484848;
    text-decoration: none;
  }
a:hover {
    color: #484848;
    text-decoration: underline;
  }
a:active {
    color: #484848;
    text-decoration: underline;
  }
h1 {
    color: #ff6600;
  }
h4 {
    margin-bottom: 0;
  }
hr {padding: 5px, 0, 5px, 0;}