body {
    font-family: Helvetica, sans-serif;
    color: #484848;
    line-height: 1.3em;
  }
.button {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 5px 5px 0;
  }
  input {
    font-size: 100%;
    color: #484848;
  }
a:link, a:visited {
    color: #484848;
    text-decoration: none;
  }
a:hover, a:active, a:focus {
    color: #484848;
    text-decoration: underline;
  }
h1 {
    color: #ff6600;
  }
h4 {
    margin-bottom: 0;
  }
hr {
  padding: 5px, 0, 5px, 0;
  }
footer, footer a, footer.button {
  color: #ff6600 !important; /* yeah I know I'm rusty */
  font-size: small;
}