<h2>Login</h2>
<form action="/login" method="post">
  <input type="text" name="username" id="username" placeholder="Username">
  <input type="password" name="password" id="password" placeholder="Password">
  <input type="submit" value="log in" id="submit">
</form>
<br>
<br>
<footer>
  <a class="button" href="/users/new">I'm not yet a Borrower, I need to create a user</a>
</footer>