<h2>Welcome to Borrower</h2>
<h3>Borrower is a sharing community that allows you to keep track of your stuff.</h3>
<ul>
  <li>Short-term or long-term – you set the terms</li>
  <li>Only you can see who is currently borrowing your items</li>
</ul>
<footer>
<a class="button" href="/users/new">Join Borrower - create an account</a>
<a class="button" href="/login">Existing Borrower Log In</a>
</footer>