<!doctype html>
<html>
  <head>
    <title>Borrower</title>
    <link rel="stylesheet" type="text/css" href="<%= url("/stylesheets/main.css") %>">
  </head>
  <body>
    <h1>Borrower</h1>
    <%= yield %>
    <footer>
      <% if logged_in? %>
        <br><br>
        <a class="button" href="/logout">log out <%= current_user.username %></a>
      <% end %>
    </footer>
  </body>
</html>