<!doctype html>
<html>
  <head>
    <title>Borrower</title>
    <link rel="stylesheet" type="text/css" href="<%= url("/stylesheets/main.css") %>">
  </head>
  <body>
    <%= yield %>
  </body>
</html>