<!doctype html>
<html>
  <head>
    <title>Borrower</title>
    <link rel="stylesheet" type="text/css" href="<%= url("/stylesheets/main.css") %>">
  </head>
  <body>
    <h1>Borrower</h1>
    <%= yield %>
    <% if logged_in? %>
      <footer>
          <br><br>
          <a class="button" href="/logout">log out <%= current_user.username %></a>
      </footer>
    <% end %>
  </body>
</html>